.separator {
  background-image: linear-gradient(
     to right top,
     #36e736,
     #94e240,
     #474549,
     #914aeb,
     #e7ca2a,
     #7e68fbb3,
     #4d7fff,
     #ffcc00,
     #00acfd,
     #42d2e8,
     #00c8a3,
     #c93131
   );
   height: 6px;
   width: 40%;
   border-radius: 3px;
   margin: 16px 0px;
}